torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
onnxruntime==1.22.0
onnx==1.16.2
cython_bbox==0.1.5
numpy==1.23.5
tensorboard==2.15.0
scipy==1.10.1
lap
loguru
ultralytics==8.3.15
opencv-python==4.10.0.84
flask==3.0.3
cmake